<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  {% block title %} Chat {% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">

</head>
<body>
    <div class='header'>
        <div class='container'>
          <h1>Chat</h1>
          <ul class='nav-menu '>
           
        <li>
            <a href="..">Lista de Usuários</a>   
           
        </li>
              </ul>
        
   </div>
  
 
  
        </div>
       
      </div> 
      {% block content %}
      {% endblock %} 
      
      {% block script %}
      {% endblock %} 
</body>
</html>